<h1>Criar Produto</h1>
<form action="/products/create" method="post">
    <div class="form-control">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="form-control">
        <label for="price">Preço</label>
        <input type="text" name="price" id="price">
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
        <textarea name="description" id="description"></textarea>
    </div>

    <input type="submit" value="Cadastrar">
</form>